@mixin font($fs: 18px, $fw: 400, $lh: 26px, $ls: 0.2em, $color: 'text-primary', $td: none, $tt: none) {
    font-size: $fs;
    font-weight: $fw;
    line-height: calc($lh / $fs);
    letter-spacing: $ls;
    color: getColor($color);
    text-decoration: $td;
    text-transform: $tt;
}

@mixin flexCentered($type: flex) {
    display: $type;
    align-items: center;
    justify-content: center;
}

@mixin setTransition($properties) {
    @each $property in $properties {
        transition-property: #{$property};
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0ms;
    }
}