$studio-colors: (
    'text-primary':#212121,
    'text-secondary':#757575,
    'accent':#18A0FB,
    'background-primary':#ffffff,
    'background-footer':#2F303A,
    'background-secondary':#F5F4FA,
    'background-additional':#000000,
    'header-line':#ECECEC,
    'icons':#AFB1B8
);

$logo-font-family:'Raleway';
$studio-font-family: 'Roboto', sans-serif;
