.page-header {
    min-height: 80px;
    display: flex;
    align-items: center;
}

.page-header .container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;

    &__item {
        @extend %list;
        
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__link {
        @extend %link;
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        @include font(14px, 500, 16px, 0.02em, text-secondary);
        margin-left: 10px;

        &--current::after {
            content: "";
            bottom: 0;
            left: 0;
            position: absolute;
            display: block;
            width: 100%;
            height: 4px;
            
            background-color: getColor(accent);
            border-radius: 2px;
        }
    }

    &__link:hover,
    &__link:focus {
        color: getColor(accent);
    }
}

.contacts {
    @extend %list;
    @include font(8px, 500, 10px, 0.02em, text-secondary);
    display: block;

    &__item {
        @extend %list;
    }
    
    &__link {
        display: flex;
        @extend %link;
        color: inherit;
        text-decoration: none;  
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }

    &__link:hover,
    &__link:focus {
        color: getColor(accent);;
    }
}   

.social-links {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    margin-bottom: 100px;
    margin-left: 40px;
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;

    @extend %list;

    &__item{
        &:not(:first-child){
            border-left: 2px solid getColor(text-secondary);
            margin: 0 10px;
        }
    }

    &__link {
        @extend %link;
        @include font(1em, 500, 1em, 0.02em, accent);
    }
}

@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }

    .page-header .container {
        justify-content: space-between;
    }

    .contacts {
        @include font(24px, 500, 28px, 0.02em, text-secondary);
        margin-top: 300px;
        margin-bottom: 64px;

        &__item:first-child {
            @include font(34px, 500, 40px, 0.02em, accent);
            margin-bottom: 32px;
        }
    }
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .menu__list {
        display: flex;
        margin-left: 88px;
    }
    .contacts {
        margin-left: 96px;
        align-self: center;

        &__item:first-child {
            margin-bottom: 10px;
        }
    }

    .social-links__link {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .menu__list {
        display: flex;
        margin-left: 93px;
    }
    
    .contacts {
        display: flex;
        align-items: center;
        margin-left: 305px;

        &__item{
            align-items: center;
        }

        &__item:first-child {
            margin-bottom: 0px;
        }

        &__item:last-child {
            margin-left: 40px;
        }
    }
}