.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;


    @media screen and (min-width: 768px) {
        position: static;

    }
}

.menu {
    display: none;

    @media screen and (max-width: 767px) {
        &.is-open {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: getColor('background-primary');
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        position: static;
    }
}


.menu-button {
        display: flex;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;

        & .icon-cross {
            display: none;
        }

        &.is-open .icon-cross{
            display: block;
        }

        &.is-open .icon-menu {
            display: none;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }

}

.navigation {

    display: flex;
    align-items: center;
    justify-content: space-between;
    
        &__list {
            @extend %list;
            display: block;
        }
    
        &__link {
            display: inline-flex;
            @include setTransition('color');
            @include font(40px, 500, 47px, 0.02em, text-primary);

            text-decoration: none;
            

            &:hover,
            &:focus {
                color: getColor('accent');
            }
    
            &--current{
                color: getColor('accent');
            }
        }
        
        @media screen and (max-width: 767px) {
            &__item {
                margin-top: 32px;
                margin-bottom: 32px;
                margin-left: 40px;
        
            }
            &__item:last-child {
                    margin-bottom: 206px;
                }
        }

        @media screen and (min-width: 768px) {
            &__item{
                display: inline-flex;
                align-items: center;
                padding: 32px 0;
            }

            &__item:not(:last-child) {
                margin-right: 50px;
            }
            
            &__list {
                display: inline-flex;
                margin-left: 93px;
            }

            &__link {
                position: relative;
                display: block;

                @include font(14px, 500, 16px, 0.02em, text-primary);

                &--current {
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 4px;
                
                        background-color: getColor('accent');
                        border-radius: 2px;
                    }
                }
            }
        }
}


.contacts {
    @extend %list;
    display: flex;


    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
        margin-left: 40px;
        margin-bottom: 64px;

        &__item:last-child {
            margin-bottom: 32px;
            a {
                @include font(34px, 500, 40px, 0.02em, accent);
    
            }
        }

        &__icon {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {
        margin-left: 305px;

        &__item:last-child {
                margin-left: 40px;
        }

        &__link{
            @include flexCentered;
            @include setTransition('color');
            @include font(14px, 500, 16px, 0.02em, text-secondary);
        }

        &__link:hover,
        &__link:focus {
            color: getColor('accent');
        }

        &__icon {
            display: inline-block;
            margin-right: 10px;
        }
    }

}

.social-links {
    display:flex;
    margin-left: 40px;
    margin-bottom: 48px;
    @extend %list;
    &__item {
        &:not(:last-child)::after {
            content: "";
            display: inline-block;
            align-items: center;
            height: 16px;
            border-left: 1px solid getColor(text-secondary);
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    &__link {
        @extend %link;
        @include font(18px, 500, 22px, 0.02em, accent);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}